---
layout: default
---
<p>
  <table class="table table-striped">
    <thead class="thead-dark"></thead>
    <tbody>
      {% for entry in site.data.donows %}
        {% if entry.class == "30-2" %}
          {% for post in site.posts %}
            {% if post.url == entry.url %}
              {% if post.published  %}
                <tr>
                  <td>{{ entry.donowdate }}</td>
                  <td><a href="{{ entry.url }}">{{ post.title }}</a></td>
                </tr>
              {% endif %}    
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</p>

{{ 'now' | date: "%b %d" }}

<!--- --->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <!-- <th scope="col">Grade</th> -->
      <th scope="col">Course</th>
      <th scope="col">Difficulty level</th>
    </tr>
  </thead>
  <tbody>
    {% for post in site.posts %}
      <tr>
        <th scope="row"><a href="{{ post.url }}" >{{ post.title }}</th>
        <td>{{ post.url }}</td>
        <!-- <td>{{ post.grade }}</td> -->
        <td>Math {{post.course}}</td>
        {% if post.level == "easy" %}
          <td><span class="badge badge-pill badge-success">Easy</span></td>
        {% endif %}
        {% if post.level == "moderate" %}
          <td><span class="badge badge-pill badge-warning">Moderate</span></td>
        {% endif %}
        {% if post.level == "difficult" %}
          <td><span class="badge badge-pill badge-danger">Difficult</span></td>
        {% endif %}
      </tr>
      {% endfor %}
  </tbody>
</table>
