---
layout: default
permalink: 20-2/index.html
title: 20-2
---
<h1>{{ page.title }}</h1>
<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="expectations">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#expectations" aria-expanded="true" aria-controls="expectations">
          Expectations
        </button>
      </h5>
    </div>
    <div id="expectations" class="collapse" aria-labelledby="expectations" data-parent="#accordionExample">
      <div class="card-body">
        {% include expectations.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="attendance">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#attendance" aria-expanded="true" aria-controls="attendance">
          Attendance
        </button>
      </h5>
    </div>
    <div id="attendance" class="collapse" aria-labelledby="attendance" data-parent="#accordionExample">
      <div class="card-body">
        {% include attendance.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="materials">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#materials" aria-expanded="true" aria-controls="materials">
          Materials
        </button>
      </h5>
    </div>
    <div id="materials" class="collapse" aria-labelledby="materials" data-parent="#accordionExample">
      <div class="card-body">
        {% include materials.html %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="success">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#success" aria-expanded="true" aria-controls="success">
          How to be successful
        </button>
      </h5>
    </div>
    <div id="success" class="collapse" aria-labelledby="success" data-parent="#accordionExample">
      <div class="card-body">
        {% include success.html %}
      </div>
    </div>
  </div>

{% include units-20-2.html %}

</div>
