---
layout: default
permalink: 20-2/index.html
title: 20-2
---
<h1>{{ page.title }}</h1>
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Course Outline
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        {% include course-outline.html%}
      </div>
    </div>
  </div>

{% include assessment-20-2.html %}

</div>
