---
layout: default
---

<!-- EXAMPLE OF HOW TO INCORPORATE MATH INTO WEB PAGES
<p>
Before
$$mean = \frac{\displaystyle\sum_{i=1}^{n} x_{i}}{n}$$
After!
</p>
-->
<p>Material aligned to <a href="http://maythemathbewithyou.com/resources/math10to12.pdf">Alberta Education high school program of study in mathematics</a>. Material is provided as is... Do you have comments, feedback, suggestions or find find errors, use the following form.</p>

<h1>Math 10C</h1>
<div class="card">
  <h2>Pre-requisites</h2>
  <ul class="list-group list-group-flush">
    {% for post in site.posts %}
      {% if post.course == "10C" & post.unit == "Prereqs" %}
        <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a> (Unit: {{post.unit}})</li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- Free high school level math practice problem library. Free as in $0, princeless and as in freedom. -->
