---
layout: default
---

<!-- EXAMPLE OF HOW TO INCORPORATE MATH INTO WEB PAGES
<p>
Before
$$mean = \frac{\displaystyle\sum_{i=1}^{n} x_{i}}{n}$$
After!
</p>
-->
<h1>Practice problems library</h1>
<p>High school level math practice problem library. Material aligned with <a href="http://maythemathbewithyou.com/resources/math10to12.pdf">Alberta Education High School Program of Study in Mathematics</a>.</p>

<!-- New Below -->
<div class="accordion" id="accordionExample">
  {% include accordion-level.html topic="Prerequisites" number="One" %}
  {% include accordion-level.html topic="Relations & Functions" number="Two" %}
  {% include accordion-level.html topic="Real Numbers" number="Three" %}
  {% include accordion-level.html topic="Radicals" number="Four" %}
  {% include accordion-level.html topic="Powers" number="Five" %}
  {% include accordion-level.html topic="Polynomials" number="Six" %}
  {% include accordion-level.html topic="Linear Functions" number="Seven" %}
  {% include accordion-level.html topic="Systems of Equations" number="Eight" %}
  {% include accordion-level.html topic="Measurement" number="Nine" %}
  {% include accordion-level.html topic="Right Triangle Trigonometry" number="Ten" %}
  {% include accordion-level.html topic="Oblique Triangle Trigonometry" number="Eleven" %}
  {% include accordion-level.html topic="Statistics" number="Twelve" %}
  {% include accordion-level.html topic="Probability" number="Thirteen" %}  
</div>
