---
layout: default
---

<!-- EXAMPLE OF HOW TO INCORPORATE MATH INTO WEB PAGES
<p>
Before
$$mean = \frac{\displaystyle\sum_{i=1}^{n} x_{i}}{n}$$
After!
</p>
-->
<h1>Practice problems library</h1>
<p>High school level math practice problem library. Material aligned with <a href="http://maythemathbewithyou.com/resources/math10to12.pdf">Alberta Education High School Program of Study in Mathematics</a>.</p>

<div class="row">
  <!-- Left column -->
  <div class="col-sm-6">

    <!-- Start of card -->
    <div class="card">
      <h5 class="card-header">Prerequisites</h5>
      <div class="card-body">
        <p class="card-text">Junior Hight (Grade 6-9) extra practice and review problems.</p>
        <div class="list-group">
          {% for post in site.posts %}
          {% if post.category == "Prerequisites" and post.published  %}
          <a href="{{ post.url }}" class="list-group-item list-group-item-action"><big>{{ post.title }}</big></br>
          (Grade {{ post.grade }}, Level: {{ post.level }}, Type: {{ post.tags }})</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- End of card -->

  </div>

  <!-- Right column -->
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Relations and Functions</h5>
      <div class="card-body">
        <p class="card-text">Junior Hight (Grade 6-9) review problems for high school mathematics.</p>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">
            Cras justo odio
          </a>
          <a href="#" class="list-group-item list-group-item-action">Polynomials</a>
          <a href="#" class="list-group-item list-group-item-action">Linear Functions</a>
          <a href="#" class="list-group-item list-group-item-action">Systems of Equations</a>
          <a href="#" class="list-group-item list-group-item-action disabled">Right Triangle Trigonometry</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="accordion">
  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Prerequisites
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts %}
          {% if post.course == "10C" and post.unit == "Prereqs" and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div
  <!-- End accordion level -->

  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Relations and Functions
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts reversed %}
          {% if post.course == "10C" and post.unit == "Relations & Functions" and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div>
  <!-- End accordion level -->

  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Real Numbers, Radicals & Exponents
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts reversed %}
          {% if post.course == "10C" and post.unit == "Real Numbers, Radicals and Exponents" and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div>
  <!-- End accordion level -->

  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Polynomials
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts reversed %}
          {% if post.course == "10C" and post.unit == "Polynomials"and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div>
  <!-- End accordion level -->

  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Linear Functions
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts reversed %}
          {% if post.course == "10C" and post.unit == "Linear Functions" and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div>
  <!-- End accordion level -->

  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          Systems of Equations
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts reversed %}
          {% if post.course == "10C" and post.unit == "Systems of Equations" and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div>
  <!-- End accordion level -->

  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          Measurement
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts reversed %}
          {% if post.course == "10C" and post.unit == "Measurement" and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div>
  <!-- End accordion level -->

  <!-- Start accordion level -->
  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          Trigonometry
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        <!-- List toc -->
        <ul class="list-group list-group-flush">
          {% for post in site.posts reversed %}
          {% if post.course == "10C" and post.unit == "Trigonometry" and post.status == "public" %}
          <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
        <!-- End list toc -->
      </div>
    </div>
  </div>
  <!-- End accordion level -->
</div>
