<!-- Start accordion level -->

{% assign count = 0 %}
{% for post in site.posts %}
  {% if post.category == include.topic and post.published  %}
    {% assign count = count | plus: 1 %}
  {% endif %}
{% endfor %}

<div class="card">
  <div class="card-header" id="heading{{ include.number }}">
    <h2 class="mb-0">
      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ include.number }}" aria-expanded="false" aria-controls="collapse{{ include.number }}">
        {{ include.topic }}
        <span class="badge badge-primary badge-pill">{{ count }}</span>
      </button>
    </h2>
  </div>
  <div id="collapse{{ include.number }}" class="collapse" aria-labelledby="heading{{ include.number }}" data-parent="#accordionExample">
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <!-- <th scope="col"></th> -->
            <!-- <th scope="col">Grade</th> -->
            <th scope="col">Course</th>
            <th scope="col">Difficulty level</th>
          </tr>
        </thead>
        <tbody>
          {% for post in site.posts %}
            {% if post.category == include.topic and post.published  %}
            <tr>
              <th scope="row"><a href="{{ post.url }}" >{{ post.title }}</th>
              <!-- <td>{{ post.description }}</td> -->
              <!-- <td>{{ post.grade }}</td> -->
              <td>Math {{post.course}}</td>
              {% if post.level == "easy" %}
                <td><span class="badge badge-pill badge-success">Easy</span></td>
              {% endif %}
              {% if post.level == "moderate" %}
                <td><span class="badge badge-pill badge-warning">Moderate</span></td>
              {% endif %}
              {% if post.level == "difficult" %}
                <td><span class="badge badge-pill badge-danger">Difficult</span></td>
              {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End accordion level -->
