
<div class="alert alert-primary" role="alert">
<h4 class="alert-heading"><i class="fa fa-warning"></i> Do Now</h4>
  <ul>
    <li>You have the first 10 minutes of class to complete this assignment.</li>
    <li>No cell phones are permitted.</li>
    <li>Copying from another student will result in a zero mark on this assignment for all the involved students.</li>
    <li>Quiet and independent working.</li>
    <li>Do your work on a separate sheets.</li>
    <li>Write question name, your name and date on top on the sheet.</li>
  </ul>
</div>
