<p>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Assessment</th>
      <th scope="col">Unit</th>
      <th scope="col">Weight (%)</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in site.data.assessment %}
      {% if entry.class == "10C-20-2" %}
        <tr>
          <td>{{ entry.date }}</td> <!-- Date -->
          <td>{{ entry.type }}</td> <!-- Assessment -->
          <td>{{ entry.unit }}</td> <!-- Unit -->
          <td>{{ entry.weight }}</td> <!-- Weight -->
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
</p>
