<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Assessment</th>
      <th scope="col">Unit</th>
      <th scope="col">Weight (%)</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in site.data.assessment %}
      <tr>
        <th scope="row">1</th>
        <td>{{ entry.date }}</td> <!-- Date -->
        <td>{{ entry.type }}</td> <!-- Assessment -->
        <td>{{ entry.unit }}</td> <!-- Unit -->
        <td>{{ entry.weight }}</td> <!-- Weight -->
      </tr>
    {% endfor %}
  </tbody>
</table>
