<p>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Exam Date</th>
      <th scope="col">Unit</th>
      <th scope="col">Weight</th>
      <th scope="col">Class Notes (%)</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in site.data.assessment %}
      {% if entry.class == "20-2" %}
        <tr>
          <td>{{ entry.examdate }}</td> <!-- Date -->
          <td>{{ entry.unit }}</td> <!-- Unit -->
          <td>{{ entry.weight }}</td> <!-- Weight -->
          <td>{{ entry.url }}</td> <!-- Url of unit notes -->
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
</p>
