<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Assessment</th>
      <th scope="col">Unit</th>
      <th scope="col">Weight (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>TBD</td> <!-- Date -->
      <td>Quiz</td> <!-- Assessment -->
      <td>Rel & Fun</td> <!-- Unit -->
      <td></td> <!-- Weight -->
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>TBD</td> <!-- Date -->
      <td>Quiz</td> <!-- Assessment -->
      <td>Rel & Fun</td> <!-- Unit -->
      <td></td> <!-- Weight -->
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>TBD</td> <!-- Date -->
      <td>Quiz</td> <!-- Assessment -->
      <td>Rel & Fun</td> <!-- Unit -->
      <td>10%</td> <!-- Weight -->
    </tr>

  </tbody>
</table>
