<div class="card">
  <div class="card-header">
    Classroom Expectations
  </div>
  <div class="card-body">
    <ul>
      <li>Everyone has chosen to come here to learn.</li>
      <li>Your teacher is here to help you learn.</li>
      <li>Music and cell phones are distracting during lessons - both for you and others. Earbuds are not allowed during instructional time and during exams.</li>
      <li>Listening to music while working is permitted only:</li>
        <ul>
          <li>...during independent work.</li>
          <li>...when your teacher is not talking to the class.</li>
          <li>...as long as nobody else can hear the music.</li>
          <li>...as long as you are using a playlist that has been setup ahead of time.</li>
        </ul>
      <li>Watching videos or playing video games is not permitted during class.</li>
      <li>Be on time so that you do not miss anything.</li>
      <ul>
        <li>If you’re late, please enter quietly without disturbing others and write your name on the board.</li>
        <li>If you need to leave class early, please let your teacher know beforehand.</li>
      </ul>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    How to be Successful
  </div>
  <div class="card-body">
    <ul>
      <li>Be punctual and attend regularly.</li>
      <li>Maintain complete and neat notes.</li>
      <li>Ask questions, seek assistance, and be an active participant in class.</li>
      <li>Complete homework and assignments - practice makes perfect.</li>
      <li>Study thoroughly for exams. Be sure to complete all assigned questions, reviews
and practice exams.</li>
      <li>Get assistance immediately when you encounter problems.</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Attendance
  </div>
  <div class="card-body">
    <ul>
      <li>Consistent and regular attendance is key to success in any course.</li>
      <li>If you do have to miss class, you are expected to notify your teacher by email ahead of time.</li>
      <li>It is your responsibility to get caught up on all missed material before the next class.</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Materials
  </div>
  <div class="card-body">
    <ul>
      <li>The provided math workbooks.</li>
      <li>Pencil, eraser, pens, highlighters, clear plastic ruler.</li>
      <li>Approved graphing calculator (TI-84 Plus is recommended).</li>
      <li>Loose-leaf paper for supplemental work.</li>
      <li>Chromebook compatible headphones.</li>
    </ul>
  </div>
</div>
