<div class="card">
  <div class="card-header">
    Required Materials
  </div>
  <div class="card-body">
    <ul>
      <li>Principles of Mathematics 11 Workbook</li>
      <li>A graphing calculator is required for this course (TI-83/84)</li>
      <li>Ruler/straight edge, protractor, compass, pencil, eraser</li>
      <li>Bring Your Own Device</li>
    </ul>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Help
  </div>
  <div class="card-body">
    If you are experiencing trouble with any of the material, it is your responsibility to seek out help. Feel free to approach any teacher in the department and be sure to take advantage of tutorials when they are available.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Assessments
  </div>
  <div class="card-body">
    Arrangement can be made with your teacher to write exams PRIOR to the exam date for special circumstances.

    It is your responsibility to make arrangements with your teacher to complete any missed quizzes, assignments and exams. It is expected that parents will call the school to verify illnesses in the event that a student misses an exam, In addition to the parent call, students who are ill on the day of an exam, are expected to write the exam during the next class period.
  </div>
</div>
