<h2> Required Materials</h2>
<ul>
  <li>Principles of Mathematics 11 Workbook</li>
  <li>A graphing calculator is required for this course (TI-83/84)</li>
  <li>Ruler/straight edge, protractor, compass, pencil, eraser</li>
</ul>

<h2>Help</h2>
If you are experiencing trouble with any of the material, it is your responsibility to seek out help. Feel free to approach any teacher in the department and be sure to take advantage of tutorials when they are available.

<h2>Attendance</h2>
Attendance is essential for success in Mathematics. That means attending all classes, and being on time, prepared to learn. You show consideration for your teacher and classmates by arriving on time, with all needed materials.

If you know you are going to be away from classes, please let your teacher know beforehand. It is your responsibility to get caught up on any material missed as it will still be on the exam.

<h2>Exams</h2>
Arrangement can be made with your teacher to write exams PRIOR to the exam date for special circumstances.

It is your responsibility to make arrangements with your teacher to complete any missed quizzes, assignments and exams. It is expected that parents will call the school to verify illnesses in the event that a student misses an exam, In addition to the parent call, students who are ill on the day of an exam, are expected to write the exam during the next class period.

<h2>Tips for Success</h2>
Marks are calculated using all assessments, both formal and informal.  Students can have “off” class or test. What you do throughout the whole term will be taken into consideration when your final grade is calculated. This being stated, doing you best daily will allow you to earn a mark worthy of your abilities
