<div class="card">
  <div class="card-header">
    Diploma Exam
  </div>
  <div class="card-body">
    <p>There is a 26.25 fee (50.00 for foreign students) for each diploma exam rewrite. The rewite fee must be paid via myPass.</p>

    <p>The format and content of the Mathematics 30-2 diploma examinations are as follows:</p>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Question Format</th>
          <th scope="col">Number of Questions</th>
          <th scope="col">Emphasis</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td>Multiple Choice</td>
              <td>24</td>
              <td rowspan="2">75%</td>
            </tr>
            <tr>
              <td>Numerical Response</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Written Response</td>
              <td>2</td>
              <td>25%</td>
            </tr>
      </tbody>
    </table>

  </div>
</div>
