<div class="card">
  <div class="card-header">
    Exam Weights
  </div>
  <div class="card-body">
    All eight unit finals are weighted equally (12.5% each). See below for details on the Diploma Exam weighting.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Replacement Exams
  </div>
  <div class="card-body">
    Replacement Exams provide an opportunity for students to re-challenge previously evaluated outcomes. Replacement exams are offered during the course on the dates indicated in the timeline. Replacement exams have to be written on the scheduled date (no late writes).
  </div>
</div>

<div class="card">
  <div class="card-header">
    Missed Exams
  </div>
  <div class="card-body">
    You are expected to write tests on the scheduled dates. Failure to meet this expectation will result in a referral to the student support team or to the administration.
  </div>
</div>

<div class="card">
  <div class="card-header">
    Extra Time
  </div>
  <div class="card-body">
    <ul>
      <li>All exams take place during class time. Students can request extra time.</li>
      <li>Requests have to be made in person <em>before</em> the exam day.</li>
      <li>No extra time is approved for late writes.</li>
      <li>Each exam requires a separate request.</li>
      <li>Approval is at the discretion of your teacher. There are a limited spots avaliable for extra time and requests are approved subject to avaliability (first come first serve basis).</li>
      <li>Students with approved extra time will have their exam split into two parts, with one part written during their spare and the second part written during the class during which the exam is scheduled.</li>
      <li>Student not showing up for their approved extra time accomodation during their spare will not be approved for future extra time requests.</li>
    </ul>
  </div>
</div>
