<ul>
  <li>Everyone has chosen to come here to learn.</li>
  <li>Your teacher is here to help you learn.</li>
  <li>Music and cell phones are distracting during lessons - both for you and others. Earbuds are not allowed during instructional time and during exams.</li>
  <li>Listening to music while working is permitted only:</li>
    <ul>
      <li>...during independent work.</li>
      <li>...when your teacher is not talking to the class.</li>
      <li>...as long as nobody else can hear the music.</li>
      <li>...as long as you are using a playlist that has been setup ahead of time.</li>
    </ul>
  <li>Watching videos or playing video games is not permitted during class.</li>
  <li>Be on time so that you do not miss anything.</li>
  <ul>
    <li>If you’re late, please enter quietly without disturbing others and write your name on the board.</li>
    <li>If you need to leave class early, please let your teacher know beforehand.</li>
  </ul>
</ul>
