<!-- Footer -->

<footer class="text-muted">
  <!-- Quote-fading code -->
  <div class="container">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <small>
      <p class="quotes" align="center">Luminous beings are we, not this crude matter. - Yoda</p>
      <p class="quotes" align="center">Trust the force. - Jyn's mother</p>
      <p class="quotes" align="center">I'm One With The Force. The Force Is With Me. - Chirrut Îmwe</p>
      <p class="quotes" align="center">Be Careful Not To Choke On Your Convictions. - Darth Vader</p>
      <p class="quotes" align="center">I find that answer vague and unconvincing. – K-2SO</p>
      <p class="quotes" align="center">Your work exceeds all expectations. – Wilhuff Tarkin</p>
      <p class="quotes" align="center">There is always a bigger fish. - Qui-Gon Jinn</p>
      <p class="quotes" align="center">Fear is the path to the dark side. - Yoda</p>
      <p class="quotes" align="center">Do. Or do not. There is not try. - Yoda</p>
      <p class="quotes" align="center">Many of the truths we cling to depend greatly on our point of view. - Obi-Wan Kenobi</p>
      <p class="quotes" align="center">In my experience there is no such thing as luck. - Obi-Wan Kenobi</p>
      <p class="quotes" align="center">Always pass on what you have learned. - Yoda</p>
      <p class="quotes" align="center">The greatest teacher, failure is. - Yoda</p>
      <p class="quotes" align="center">Your eyes can deceive you; do not trust them. – Obi-Wan Kenobi</p>
      <p class="quotes" align="center">Your focus determines your reality. – Qui-Gon Jinn</p>
      <p class="quotes" align="center">This is a new day, a new beginning. – Ahsoka Tano</p>
      <p class="quotes" align="center">A Jedi uses the Force for knowledge and defense, never attack. - Yoda</p>
      <p class="quotes" align="center">Be mindful of the future, but not at the expense of the moment. - Qui-Gon Jinn</p>
      <p class="quotes" align="center">The ability to speak does not make you intelligent. - Qui-Gon Jinn</p>
      <p class="quotes" align="center">Who is more foolish? The fool, or the fool who follows him? - Ben Obi-Wan Kenobi</p>
      <p class="quotes" align="center">Hate leads to suffering. - Yoda</p>
      <p class="quotes" align="center">Truly wonderful, the mind of a child is. - Yoda</p>
    </small>
    <script>
    (function() {

        var quotes = $(".quotes");
        var quoteIndex = -1;

        function showNextQuote() {
            ++quoteIndex;
            quotes.eq(quoteIndex % quotes.length)
                .fadeIn(2000)
                .delay(2000)
                .fadeOut(2000, showNextQuote);
        }

        showNextQuote();

    })();
    </script>
  </div>
</footer>

<footer class="text-muted">
  <div class="container">
    <p align="center">
      <small>Lovingly hand-crafted by <a href="http://www.drpineda.ca">Mario Pineda</a> in <a href="https://twitter.com/search?q=%23yeg&src=hash&f=realtime">#yeg</a>. Powered by <a href="http://jekyllrb.com/">Jekyll</a>, <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap</a>, <a href="https://www.latex-project.org/">$LaTeX$</a>, <a href="https://www.mathjax.org/">MathJax</a>, <a href="https://github.com/">GitHub</a>, copious amounts of <a href="/images/darkside.jpg">coffee</a> and The Force. Content under <a href="https://github.com/mariopineda/maythemathbewithyou.ca/blob/master/LICENSE">MIT license</a>. A Math For Future production.</small>
  </div>
</footer>
<!-- END Footer -->
