<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="./favicon.ico">
  <title>maythemathbewithyou.ca</title>
  <link href="{{ site.baseurl }}/index_files/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/index_files/sticky-footer-navbar.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/index_files/custom.css" rel="stylesheet">
</head>
