<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="maythemathbewithyou.com">
  <meta name="author" content="Mario Pineda">
  <link rel="icon" href="favicon.ico">
  <title>maythemathbewithyou</title>
  <link href="/index2_files/bootstrap.min.css" rel="stylesheet"> <!-- Bootstrap core CSS -->
  <link href="/index2_files/album.css" rel="stylesheet"> <!-- Custom styles for this template -->

  <!-- for the quote-fading code -->
  <style>
  .quotes {display: none;}
  </style>
</head>
