
<p>All tutoring sessions are in room 410B on the 4th floor of CHC.</p>

<table class="table table-striped table-sm"">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Tutor</th>
      <th scope="col">Avaliability</th>
      <th scope="col">Subject</th>
    </tr>
  </thead>
  <tbody>
        <tr>
          <td>Mr. Ashton</td>
          <td>M-Tu, 9:00 - 2:00</td>
          <td>Math</td>
        </tr>
        <tr>
          <td>Mr. Jackson</td>
          <td>W-F, 9:00 - 2:00</td>
          <td>Math</td>
        </tr>
        <tr>
          <td>Mr. Mulder</td>
          <td>M-F, 9:00-2:00</td>
          <td>Physics</td>
        </tr>
  </tbody>
</table>
