---
layout: post
title: Climate emergency
category: Counting methods
description:
tags: Problem solving
level: moderate
grade: 12
course: 30-2
sourcetitle: Oxford Dictionaries Word of the Year
sourceurl: https://languages.oup.com/word-of-the-year/word-of-the-year-2019
qrcode:
video:
published: true
---
<p>The Oxford Word of the Year is a word or expression shown through usage evidence to reflect the ethos, mood, or preoccupations of the passing year, and have lasting potential as a term of cultural significance.</p>

<p>The Oxford Word of the Year 2019 is <em>climate emergency</em>.</p>

<p>Climate emergency is defined as ‘a situation in which urgent action is required to reduce or halt climate change and avoid potentially irreversible environmental damage resulting from it.’ This year, heightened public awareness of climate science and the myriad implications for communities around the world has generated enormous discussion of what the UN Secretary-General has called ‘the defining issue of our time’.</p>

<p>Using the letters in the phrase <em>climate emergency</em>, determine the number of permutatations of...  {% include modal.html content="Treat the space between the words as another letter"%}
<ol type="A">
  <li>... distinct two-word phrases where each word must start with two vowel, end with two consonant and where the first word has 7 letters and the second word has 9 letters.</li>
  <li>... distinct two-word phrases where each word must start with exactly two vowel, end with exactly two consonant and where the first word has 7 letters and the second word has 9 letters.</li>
  <li>... distinct two-word phrases with alternating consonants and vowels and where the first word has 7 letters and the second word has 9 letters.</li>
</ol>
</p>

{% if false %}
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <h2>Solution</h2>
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <!--- Start solution --->

          <!--- End solution --->
        </div>
      </div>
    </div>
  </div>
{% endif %}
