---
layout: post
title: Solving algrebraic expressions
category: Prerequisites
description: Describe learning outcomes...
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
qrcode:
video:
published: true
---
<p>Evaluate without a calculator:</p>
<ol type="A">
<li>$$ x+5=14 $$</li>
<li>$$ 3x=-18 $$</li>
<li>$$ 2x+1=7 $$</li>
<li>$$ -2 = \frac{\displaystyle n}{\displaystyle 5}+7 $$</li>
<li>$$ \frac{\displaystyle -3}{\displaystyle 4} = \frac{\displaystyle 6}{\displaystyle 4x} $$</li>
<li>$$ -7 = \frac{\displaystyle x}{\displaystyle 2} - 2$$ </li>
<li>$$ -5x-3=-8$$</li>
<li>$$ \frac{\displaystyle n}{\displaystyle 4} = 0$$</li>
</ol>

{% include solution-start.html %}

<h3>A.</h3>
$$
\begin{array}{rcl}
x + 5 & = & 14 \\
x     & = & 14-5 \\
x     & = & 9 \\
& = & 63
\end{array}
$$

<h3>B.</h3>
$$
\begin{array}{rcl}
3x & = & -18 \\
x  & = & \frac{\displaystyle -18}{\displaystyle 3} \\
x  & = & -6 \\
\end{array}
$$

<h3>C.</h3>
$$
\begin{array}{rcl}
2x+1 & = & 7 \\
2x   & = & 6 \\
x    & = & 3
\end{array}
$$

<h3>D.</h3>
$$
\begin{array}{rcl}
-2 & = & \frac{\displaystyle n}{\displaystyle 5}+7 \\
-9 & = & \frac{\displaystyle n}{\displaystyle 5} \\
-9 \times 5 & = & n \\
-45 & = & n
\end{array}
$$

<h3>E.</h3>
$$
\begin{array}{rcll}
\displaystyle\frac{-3}{\phantom{-}4}           & = & \displaystyle\frac{6}{4x}                     & \mbox{Multiply both sides by } 4x \\
4x \times \displaystyle\frac{-3}{\phantom{-}4} & = & 6                                             & \mbox{Multiply both sides by }  \displaystyle\frac{\phantom{-}4}{-3} \\
4x                                             & = & 6 \times \displaystyle\frac{\phantom{-}4}{-3} & \mbox{Evaluate RHS} \\
4x                                             & = & -8                                            & \mbox{Divide both sides by } 4 \\
x                                              & = & -2                                            & \\
\end{array}
$$

<h3>F.</h3>


<h3>G.</h3>

<h3>H.</h3>


{% include solution-end.html %}
