---
layout: post
title: Fraction arithmetics
category: Prerequisites
description: Describe learning outcomes...
tags: Skill building
level: easy
grade: 10
course: 10C
sourcetitle:
sourceurl:
qrcode:
video:
published: true
---
<p>Evaluate without a calculator and express answer in lowest terms.</p>
<ol type="A">
<li>$$ \frac{\displaystyle 3}{\displaystyle 12} + \frac{\displaystyle 5}{\displaystyle 12} $$</li>
<li>$$ \frac{\displaystyle 19}{\displaystyle 12} - \frac{\displaystyle 4}{\displaystyle 3} $$</li>
<li>$$ \frac{\displaystyle 5}{\displaystyle 8} \times \frac{\displaystyle 3}{\displaystyle 2} $$</li>
<li>$$ \frac{\displaystyle 6}{\displaystyle 5} \div \frac{\displaystyle 2}{\displaystyle 8} $$</li>
<li>$$ \frac{\displaystyle 14}{\displaystyle 4} - \frac{\displaystyle 8}{\displaystyle 6} $$</li>
<li>$$ \frac{\displaystyle 1}{\displaystyle 4} \div \left(\frac{\displaystyle 5}{\displaystyle 8}+\frac{\displaystyle 8}{\displaystyle 4}\right) $$/li>
</ol>

{% include solution-start.html %}

Evaluate using BEDMAS order (brackets, exponents, division/multiplication, addition/subtraction).
<h3>A.</h3>
$$
3-(-5) = 3+5 = 8
$$

<h3>B.</h3>
$$
-12 \div (-4) = \frac{\displaystyle -12}{\displaystyle -4} = \frac{\displaystyle 12}{\displaystyle 4} = 3
$$

<h3>C.</h3>
$$
-5 + (-4) = -5-4 = -9
$$

<h3>D.</h3>
$$
12(-2) = -24
$$

<h3>E.</h3>
$$
(-14)(-0.5)  = 14 \times 0.5 = 7
$$

<h3>E.</h3>
$$
-2+3 \times 5 = -2 + 15 = 13
$$

<h3>F.</h3>
$$
(-3)(4)-(-7) = -12 + 7 = -5
$$

<h3>G.</h3>
$$
(-4+1)-(-2 \times 5) = -3-(-10)=-3+10=7
$$


{% include solution-end.html %}
