---
layout: default
---
<div class="list-group">
  {% for post in site.posts %}
    {% if post.course == page.title %}
      {% if post.status == 'done' %}
        <a href="{{ site.baseurl }}{{ post.url }}"  class="list-group-item list-group-item-success flex-column align-items-start">
      {% elsif post.status == 'hw' %}
        <a href="{{ site.baseurl }}{{ post.url }}"  class="list-group-item list-group-item-danger flex-column align-items-start">
      {% elsif post.status == 'notdone' %}
        <a href="{{ site.baseurl }}{{ post.url }}"  class="list-group-item list-group-item-light flex-column align-items-start">
      {% else %}
        <a href="{{ site.baseurl }}{{ post.url }}"  class="list-group-item list-group-item-primary">
      {% endif %}
      <strong>p.{{ post.pages }}</strong> {{ post.title }} / {{ post.unit }} ({{ post.type }})</a>
    {% endif %}
  {% endfor %}
  </div>
</div>
