<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <header>
    {% include navbar.html %}
  </header>

  <!-- Begin page content -->
  <main role="main" class="container">
    <p class="lead">
      {{content}}
    </p>

    <h1>Unit 1</h1>
    <!-- Accordion -->
    <div class="accordion" id="accordionExample">
      {% assign counter = 0 %}
      {% for i in site.data.20-1.videos %}
      {% assign counter = counter | plus: 1 %}
      <div class="card">
        <div class="card-header" id="heading{{ counter }}">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ counter }}" aria-expanded="false" aria-controls="collapse{{ counter }}">
              {{i.date}}, p.{{i.page}}, {{i.description}} (Unit: {{i.unit}}) 
              Collapsible Group Item #{{ counter }}
            </button>
          </h5>
        </div>

        <div id="collapse{{ counter }}" class="collapse" aria-labelledby="heading{{ counter }}" data-parent="#accordionExample">
          <div class="card-body">
            Test
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
