<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <header>
    {% include navbar.html %}

    <nav class="navbar fixed-bottom navbar-light bg-light">
      <a class="navbar-brand"> </a>
      <span class="quotes">Help me, Obi-Wan Kenobi. You’re my only hope. ~ Leia Organa</span>
      <span class="quotes">I find your lack of faith disturbing. ~ Darth Vader</span>
      <span class="quotes">The Force will be with you. Always. ~ Obi-Wan Kenobi</span>
      <span class="quotes">Never tell me the odds! ~ Han Solo</span>
      <span class="quotes">Do. Or do not. There is no try. ~ Yoda</span>
      <span class="quotes">There’s always a bigger fish. ~ Qui-Gon Jinn</span>
      <span class="quotes">You can’t stop the change, any more than you can stop the suns from setting. ~ Shmi Skywalker</span>
      <span class="quotes">I’m just a simple man trying to make my way in the universe. ~ Jango Fett</span>
      <span class="quotes">The garbage’ll do! ~ Rey</span>
      <span class="quotes">Chewie, we’re home. ~ Han Solo</span>
      <span class="quotes">Oh, my dear friend. How I’ve missed you. ~ C-3PO</spa>
        <span class="quotes">I’m one with the Force. The Force is with me. ~ Chirrut Imwe</span>
        <span class="quotes">Hope. ~ Leia Organa</span>
        <span class="quotes">Fear is the path to the dark side. ~ Yoda</span>
        <span class="quotes">Your focus determines your reality. ~ Qui-Gon Jinn</span>
        <span class="quotes">Be mindful of your thoughts Anakin. They’ll betray you. ~ Obi-Wan</span>
        <span class="quotes">Who's the more foolish, the fool or the fool who follows it? ~ Obi-Wan</span>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <p class="lead">{{content}}</p>
      <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </main>

    <!-- End page content>
    <footer class="footer">
  </footer>

  <!-- Bootstrap core JavaScript
  ================================================== -->

  {% include scripts.html %}

</body>
</html>
