<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<link rel="icon" href="./favicon.ico">
	<title>maythemathbewithyou.ca</title>
   
    	<!-- Bootstrap core CSS -->
    	<link href="./index_files/bootstrap.min.css" rel="stylesheet">

    	<!-- Custom styles for this template -->
    	<link href="./index_files/sticky-footer-navbar.css" rel="stylesheet">
    	<link href="./index_files/custom.css" rel="stylesheet">
    
    	<style>
            body {font-family: Arial;}
            /* Style the tab */
            .tab {
                overflow: hidden;
    	        border: 1px solid #ccc;
    	        background-color: #f1f1f1;
	    }
	    /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }
            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }
            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }
            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }
        </style>
    </head>

    <body>
      <header>

          <!-- Fixed navbar -->
          <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
              <a class="navbar-brand" href="www.maythemathbewithyou.ca">maythemathbewithyou.ca</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </nav>

          <nav class="navbar fixed-bottom navbar-light bg-light">
              <a class="navbar-brand"> </a>
              <span class="quotes">Help me, Obi-Wan Kenobi. You’re my only hope. ~ Leia Organa</span>
              <span class="quotes">I find your lack of faith disturbing. ~ Darth Vader</span>
              <span class="quotes">The Force will be with you. Always. ~ Obi-Wan Kenobi</span>
              <span class="quotes">Never tell me the odds! ~ Han Solo</span>
              <span class="quotes">Do. Or do not. There is no try. ~ Yoda</span>
              <span class="quotes">There’s always a bigger fish. ~ Qui-Gon Jinn</span>
              <span class="quotes">You can’t stop the change, any more than you can stop the suns from setting. ~ Shmi Skywalker</span>
              <span class="quotes">I’m just a simple man trying to make my way in the universe. ~ Jango Fett</span>
              <span class="quotes">The garbage’ll do! ~ Rey</span>
              <span class="quotes">Chewie, we’re home. ~ Han Solo</span>
              <span class="quotes">Oh, my dear friend. How I’ve missed you. ~ C-3PO</spa>
              <span class="quotes">I’m one with the Force. The Force is with me. ~ Chirrut Imwe</span>
              <span class="quotes">Hope. ~ Leia Organa</span>
              <span class="quotes">Fear is the path to the dark side. ~ Yoda</span>
              <span class="quotes">Your focus determines your reality. ~ Qui-Gon Jinn</span>
              <span class="quotes">Be mindful of your thoughts Anakin. They’ll betray you. ~ Obi-Wan</span>
              <span class="quotes">Who's the more foolish, the fool or the fool who follows it? ~ Obi-Wan</span>
          </nav>
      </header>

      <!-- Begin page content -->
      <main role="main" class="container">
          <p class="lead">{{content}}</p>

          <div class="tab">
              <button class="tablinks" onclick="openCity(event, 'R10')">R10</button>
              <button class="tablinks" onclick="openCity(event, 'R2030')">R20/30</button>
              <button class="tablinks" onclick="openCity(event, 'AdvNet')">Adv Net</button>
              <button class="tablinks" onclick="openCity(event, 'CS10')">CS10</button>
              <button class="tablinks" onclick="openCity(event, 'CS20')">CS20</button>
              <button class="tablinks" onclick="openCity(event, 'CS20')">CS30</button>
          </div>
      
          <div id="R10" class="tabcontent">
              <h3>R10</h3>
              <p>Assigmments...</p>
          </div>

          <div id="R2030" class="tabcontent">
              <h3>R20/30</h3>
              <p>Assignments...</p> 
          </div>

          <div id="AdvNet" class="tabcontent">
              <h3>Adv Net</h3>
              <ul>
	          <li>RPi Assignment 1: Hello World</li>
		      <li>RPi Assignment 2: Flickering LED</li>
                      <li>RPi Assignment 3: Flashing LEDs</li>
                      <li>RPi Assignment 4: LED Chaser</li>
                      <li>RPi Assignment 5: Traffic Light</li>
                      <li>RPi Assignment 6: Two Traffic Lights</li>
                      <li>Pi Day Assignment: Choose one of the following projects</li>
		      <ul>
	                  <li>Music Box</li>
			  <li>The Parent Detector</li>
			  <li>Stop Motion</li>
			  <li>Reaction Game</li>
			  <li>Thermin</li>
		      </ul>
		  </ul>
          </div>
      
          <div id="CS10" class="tabcontent">
              <h3>CS10</h3>
              <p>Assignments...</p>
          </div>
      
          <div id="CS20" class="tabcontent">
              <h3>CS20</h3>
              <p>Assignments...</p>
          </div>

          <div id="CS30" class="tabcontent">
              <h3>CS30</h3>
              <p>Assignments...</p>
          </div>
      </main>

    <!-- End page content>
    <footer class="footer">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./index_files/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="./jquery-3.2.1.slim.min.js"><\/script>')</script>
    <script src="./index_files/popper.min.js"></script>
    <script src="./index_files/bootstrap.min.js"></script>
    <script src="./index_files/jquery-1.10.1.min.js"></script>
    <script src="./index_files/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript">
       (function() {
       var quotes = $(".quotes");
       var quoteIndex = -1;
    
       function showNextQuote() {
          ++quoteIndex;
          quotes.eq(quoteIndex % quotes.length)
              .fadeIn(2000)
              .delay(2000)
              .fadeOut(2000, showNextQuote);
       }
       showNextQuote();
       })();
    </script>  

      <script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
      
</body></html>
