---
layout: default
---
<div class="card">
  <div class="card-header">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="card-body">
    {{ content }}
   <!-- YouTube Video Embedd Code
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ page.video }}" allowfullscreen></iframe>
    </div>
    -->
    <div style="text-align: right">
      <em>
        {% if page.sourcetitle != nil %}
          Based on: <a href="{{ page.sourceurl }}">{{ page.sourcetitle }}</a><br>
        {% endif %}
        Page address: {{ site.url }}{{ page.url }}</br>
        Class: {{page.course}}, Unit: {{page.unit}}
      </em>
    </div>
  </div>
</div>
{% include alert-donow.html %}
