<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <header>
    {% include navbar.html %}
  </header>

  <!-- Begin page content -->
  <main role="main" class="container">
    <p class="lead">
      {{content}}
    </p>

<h1>Video list</h1>
    <ul>
      {% for post in site.posts %}
        <li><a href="{{ post.url }}">{{post.date}}, p.{{post.pages}}, {{post.title}} ({{post.unit}})</a>
        </li>
      {% endfor %}
    </ul>
  </main>

  {% include footer.html %}
  {% include scripts.html %}

</body>
</html>
